{
  "openapi": "3.0.1",
  "info": {
    "title": "Microsoft Graph Plugin",
    "description": "API for accessing Microsoft 365 Outlook mail, calendar, and OneDrive files.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/me/messages": {
      "get": {
        "summary": "Get Outlook Emails",
        "operationId": "getEmails",
        "tags": ["Mail"],
        "responses": {
          "200": {
            "description": "A list of email messages."
          }
        }
      }
    },
    "/me/events": {
      "get": {
        "summary": "Get Calendar Events",
        "operationId": "getCalendarEvents",
        "tags": ["Calendar"],
        "responses": {
          "200": {
            "description": "A list of calendar events."
          }
        }
      }
    },
    "/me/drive/root/children": {
      "get": {
        "summary": "Get OneDrive Files",
        "operationId": "getOneDriveFiles",
        "tags": ["Files"],
        "responses": {
          "200": {
            "description": "A list of OneDrive files."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "https://graph.microsoft.com/.default": "Full access to Microsoft Graph resources"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": ["https://graph.microsoft.com/.default"]
    }
  ]
}
